{%extends 'layout.html'%}

{% block title %}
Growth Data
{% endblock %}

{% block extracss %}

.table-nonfluid {
    width: auto !important;
}

{% endblock %}

{% block extrahead %}

<script type="text/javascript">
$(document).ready(function(){
    $('#currentTable').DataTable();
});
</script>

{% endblock %}

{% block body %}

<table class="table table-striped table-bordered table-hover table-nonfluid" id="currentTable" class="table">
     <thead>
        <tr>
            <th>FID</th>
            <th>Breed</th>
            <th>Date of Birth</th>
            <th>BirthWt</th>
            <th>Status</th>
            <th>Status Date</th>
        </tr>
     </thead>
    <tbody>
{% for row in current_table %}
        <tr>
            <td>{{ row.fid }}</td>
            <td>{{ row.breed }}</td>
            <td>{{ row.dob }}</td>
            <td>{{ row.bwt }}</td>
            <td>{{ row.status }}</td>
            <td>{{ row.status_date }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock%}