{%extends 'layout.html'%}

{% block title %}
Upload
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-lg-4">
      <h2>Life Data</h2>
      <p class="text-danger">Life data may contain columns entitled: EID, FID, Breed, and DOB. Missing DOBs will be filled in with estimated values</p>
      <form action="" method="post" enctype="multipart/form-data">
        <p><input type="file" name="file">
        <input type="hidden" name="type" value="life_data">
        <input class="btn btn-primary" type="submit" value="Upload &raquo;"></p></form>
    </div>
    <div class="col-lg-4">
      <h2>Growth Data</h2>
      <p class="text-danger">Growth data may contain columns entitled: FID, Weight, Group, Height, Date, and BCS</p>
      <form action="" method="post" enctype="multipart/form-data">
        <p><input type="file" name="file">
        <input type="hidden" name="type" value="growth_data">
        <input class="btn btn-primary" type="submit" value="Upload &raquo;"></p></form>
   </div>
    <div class="col-lg-4">
      <h2>Genetic Data</h2>
      <p class="text-danger">Genetic data may contain</p>
      <p><a class="btn btn-primary" href="#" role="button">Upload &raquo;</a></p>
    </div>
  </div>

{% endblock%}